{% extends "::base.html.twig" %}

{% block body %}
    {{ form_start(form, {'method': 'POST'}) }}
<div class="portlet-body form">
							<!-- BEGIN FORM-->
							<form action="javascript:;" id="form_sample_3" class="form-horizontal">
								<div class="form-body">
									<h3 class="form-section">Advance validation. <small>Etablissement</small></h3>
									<div class="alert alert-danger display-hide">
										<button class="close" data-close="alert"></button>
										You have some form errors. Please check below.
									</div>
									<div class="alert alert-success display-hide">
										<button class="close" data-close="alert"></button>
										Your form validation is successful!
									</div>
									<div class="form-group">
										<label class="control-label col-md-3">Code Etablissement <span class="required">
										* </span>
										</label>
										<div class="col-md-4"> 
											
                                                                                        {{ form_widget(form.codeEtablissement, {'attr': {'class': 'form-control','placeholder': 'code'}}) }}
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-md-3">Nom de l'établissement <span class="required">
										* </span>
										</label>
										<div class="col-md-4">
											
                                                                                        
                                                                                        {{ form_widget(form.nom, {'attr': {'class': 'form-control','placeholder': 'code'}}) }}
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-md-3">Code Etablissement Pere <span class="required">
										* </span>
										</label>
										<div class="col-md-4">
											
                                                                                        {{ form_widget(form.codeEtablissementPere, {'attr': {'class': 'form-control','placeholder': 'Nom'}}) }}
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-md-3">Secteur <span class="required">
										* </span>
										</label>
										<div class="col-md-4">
                                                                                    {{ form_widget(form.secteur, {'attr': {'class': 'form-control','placeholder': 'Nom'}}) }}
											<div class="radio-list" data-error-container="#form_2_membership_error">
												<label>
												<input type="radio" name="membership" value="1"/>
												Privé </label>
												<label>
												<input type="radio" name="membership" value="2"/>
												Public</label>
											</div>
											<div id="form_2_membership_error">
											</div>
										</div>
									</div>
									
									<div class="form-group">
										<label class="control-label col-md-3">N° Affiliation  <span class="required">
										* </span>
										</label>
										<div class="col-md-4">
											
                                                                                        {{ form_widget(form.nAffiation, {'attr': {'class': 'form-control','placeholder': 'Nom'}}) }}
										</div>
									</div>
                                                                        <div class="form-group">
										<label class="control-label col-md-3">Adresse <span class="required">
										* </span>
										</label>
										<div class="col-md-4">
											
                                                                                        {{ form_widget(form.adresse, {'attr': {'class': 'form-control','placeholder': 'Nom'}}) }}
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-md-3">Code postale <span class="required">
										* </span>
										</label>
										<div class="col-md-4">
											
                                                                                        {{ form_widget(form.codePostale, {'attr': {'class': 'form-control','placeholder': 'Nom'}}) }}
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-md-3">Ville<span class="required">
										* </span>
										</label>
										<div class="col-md-4">
											
                                                                                        {{ form_widget(form.ville, {'attr': {'class': 'form-control','placeholder': 'Nom'}}) }}
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-md-3">Tel <span class="required">
										* </span>
										</label>
										<div class="col-md-4">
											
                                                                                        {{ form_widget(form.tel, {'attr': {'class': 'form-control','placeholder': 'Nom'}}) }}
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-md-3">Fax<span class="required">
										* </span>
										</label>
										<div class="col-md-4">
											
                                                                                        {{ form_widget(form.fax, {'attr': {'class': 'form-control','placeholder': 'Nom'}}) }}
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label">mail <span class="required">
										* </span>
										</label>
										<div class="col-md-4">
											<div class="input-group">
												<span class="input-group-addon">
												<i class="fa fa-envelope"></i>
												</span>
												
                                                                                                {{ form_widget(form.mail, {'attr': {'class': 'form-control','placeholder': 'Nom'}}) }}
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-md-3">Filière <span class="required">
										* </span>
										</label>
										<div class="col-md-4">
											<input type="text" name="filiere" data-required="1" class="form-control"/>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-md-3">Faculté <span class="required">
										* </span>
										</label>
										<div class="col-md-4">
											<input type="text" name="faculté" data-required="1" class="form-control"/>
										</div>
									</div>
									
								</div>
								<div class="form-actions">
									<div class="row">
										<div class="col-md-offset-3 col-md-9">
											<button type="submit" class="btn green">Submit</button>
											<button type="button" class="btn default">Cancel</button>
										</div>
									</div>
								</div>
							</form>
							<!-- END FORM-->
						</div>
                {{ form_end(form) }}
{% endblock %}  
     {% block javascripts %}
    <script src="{{ asset('assets/global/plugins/jquery.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('assets/global/plugins/jquery-migrate.min.js') }}" type="text/javascript"></script>
<!-- IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
<script src="{{ asset('assets/global/plugins/jquery-ui/jquery-ui.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('assets/global/plugins/bootstrap/js/bootstrap.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('assets/global/plugins/jquery.blockui.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('assets/global/plugins/jquery.cokie.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('assets/global/plugins/uniform/jquery.uniform.min.js') }}" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script type="text/javascript" src="{{ asset('assets/global/plugins/jquery-validation/js/jquery.validate.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/global/plugins/jquery-validation/js/additional-methods.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/global/plugins/select2/select2.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/global/plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/global/plugins/ckeditor/ckeditor.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/global/plugins/bootstrap-markdown/js/bootstrap-markdown.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/global/plugins/bootstrap-markdown/lib/markdown.js') }}"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL STYLES -->
<script src="{{ asset('assets/global/scripts/metronic.js') }}" type="text/javascript"></script>
<script src="{{ asset('assets/admin/layout3/scripts/layout.js') }}" type="text/javascript"></script>
<script src="{{ asset('assets/admin/layout3/scripts/demo.js') }}" type="text/javascript"></script>
<script src="{{ asset('assets/admin/pages/scripts/form-validation.js') }}"></script>
<!-- END PAGE LEVEL STYLES -->
<script>
jQuery(document).ready(function() {   
   // initiate layout and plugins
   Metronic.init(); // init metronic core components
Layout.init(); // init current layout
Demo.init(); // init demo features
   FormValidation.init();
});
</script>
{% endblock %}