<!DOCTYPE html>
<html lang="en" class="no-js">
    <!--<![endif]-->
    <!-- BEGIN HEAD -->
    <head>
        <meta charset="utf-8">
        <title>AMO CME | CME | Plate-forme de gestion</title>
        {% block stylesheets %}

            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta content="width=device-width, initial-scale=1" name="viewport">
            <meta content="" name="description">
            <meta content="" name="author">
            <!-- BEGIN GLOBAL MANDATORY STYLES -->
            <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css">
            <link href="{{ asset('assets/global/plugins/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
            <link href="{{ asset('assets/global/plugins/simple-line-icons/simple-line-icons.min.css') }}" rel="stylesheet" type="text/css">
            <link href="{{ asset('assets/global/plugins/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
            <link href="{{ asset('assets/global/plugins/uniform/css/uniform.default.css') }}" rel="stylesheet" type="text/css">
            <!-- END GLOBAL MANDATORY STYLES -->
            <!-- BEGIN PAGE LEVEL PLUGIN STYLES -->
            <link href="{{ asset('assets/global/plugins/jqvmap/jqvmap/jqvmap.css') }}" rel="stylesheet" type="text/css">
            <link href="{{ asset('assets/global/plugins/morris/morris.css') }}" rel="stylesheet" type="text/css">
            <!-- END PAGE LEVEL PLUGIN STYLES -->
            <!-- BEGIN PAGE STYLES -->
            <link href="{{ asset('assets/admin/pages/css/tasks.css" rel="stylesheet') }}" type="text/css"/>
            <!-- END PAGE STYLES -->
            <link href="{{ asset('assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css') }}" rel="stylesheet" type="text/css"/>
            <link href="{{ asset('assets/admin/pages/css/profile.css" rel="stylesheet') }}" type="text/css"/>
            <!-- BEGIN THEME STYLES -->
            <!-- DOC: To use 'rounded corners' style just load 'components-rounded.css' stylesheet instead of 'components.css' in the below style tag -->
            <!-- DEMANDE STYLES -->
            <link href="{{ asset('assets/admin/layout3/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
            <link href="{{ asset('assets/admin/layout3/css/style.css') }}" rel="stylesheet" type="text/css">
            <link href="{{ asset('assets/admin/layout3/css/style-print.css') }}" rel="stylesheet" type="text/css">
            <!-- END DEMANDE STYLES -->
            <link href="{{ asset('assets/global/css/components-md.css') }}" id="style_components" rel="stylesheet" type="text/css">
            <link href="{{ asset('assets/global/css/plugins-md.css') }}" rel="stylesheet" type="text/css">
            <link href="{{ asset('assets/admin/layout3/css/layout.css') }}" rel="stylesheet" type="text/css">
            <link href="{{ asset('assets/admin/layout3/css/themes/default.css') }}" rel="stylesheet" type="text/css" id="style_color">
            <link href="{{ asset('assets/admin/layout3/css/custom.css') }}" rel="stylesheet" type="text/css">
            <!-- END THEME STYLES -->
            
            <!-- DEMANDE STYLES -->
            <link href="{{ asset('assets/admin/layout3/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
            <link href="{{ asset('assets/admin/layout3/css/style.css') }}" rel="stylesheet" type="text/css">
            <link href="{{ asset('assets/admin/layout3/css/style-print.css') }}" rel="stylesheet" type="text/css">
            <!-- END DEMANDE STYLES -->
            
            <link rel="shortcut icon" href="favicon.ico">
            <meta http-equiv="Content-type" content="text/html; charset=utf-8">
            <link href="{{ asset('assets/global/plugins/select2/select2.css') }}" rel="stylesheet" type="text/css">
            <link href="{{ asset('assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css') }}" rel="stylesheet" type="text/css">
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/global/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/global/plugins/bootstrap-datepicker/css/datepicker.css') }}"/>
            <meta http-equiv="Content-type" content="text/html; charset=utf-8">

            <!-- BEGIN GLOBAL MANDATORY STYLES -->

            <!-- END GLOBAL MANDATORY STYLES -->
            <!-- BEGIN PAGE LEVEL STYLES -->
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/global/plugins/select2/select2.css') }}"/>
            <!-- END PAGE LEVEL SCRIPTS -->
            <!-- BEGIN THEME STYLES -->


            <!-- END THEME STYLES -->
            <link rel="shortcut icon" href="favicon.ico"/>
        {% endblock %}


    </head>
    <body>

        <div class="page-header">
            <!-- BEGIN HEADER TOP -->
           <div class="page-header-top">
                <div class="container">
                    <!-- BEGIN LOGO -->
                    <img src="{{asset('assets/admin/pages/img/amo-cme.png')}}" class="img-responsive" />
                    <!-- END LOGO -->
                    <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                    <a href="javascript:;" class="menu-toggler"></a>
                </div>
            </div>
            <!-- END HEADER TOP -->
            <!-- BEGIN HEADER MENU -->
            <div class="page-header-menu">
                <div class="container">
                    <!-- BEGIN HEADER SEARCH BOX -->
                    <form class="search-form" action="extra_search.html" method="GET">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Recherche" name="query">
                            <span class="input-group-btn">
                                <a href="javascript:;" class="btn submit"><i class="icon-magnifier"></i></a>
                            </span>
                        </div>
                    </form>
                    <!-- END HEADER SEARCH BOX -->
                    <!-- BEGIN MEGA MENU -->
                    <!-- DOC: Apply "hor-menu-light" class after the "hor-menu" class below to have a horizontal menu with white background -->
                    <!-- DOC: Remove data-hover="dropdown" and data-close-others="true" attributes below to disable the dropdown opening on mouse hover -->
                    <div class="hor-menu ">
                        <ul class="nav navbar-nav">
                            <li class="active">
                                <a href="index.html">Tableau de bord</a>
                            </li>
                            <li class="menu-dropdown classic-menu-dropdown">
                                <a data-hover="megamenu-dropdown" data-close-others="true" data-toggle="dropdown" href="javascript:;" class="dropdown-toggle">
                                    Etablissement<i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu pull-left">
                                    <li class=" ">
                                        <a href="{{ path("free_anam_etablissement_ajouter") }}">
                                            <i class="icon-wallet"></i> Inscription </a>
                                    </li>
                                    <li class=" ">
                                        <a href="{{ path("free_anam_etablissement_lister") }}">
                                            <i class="icon-wallet"></i> Lister </a>
                                    </li>
                                </ul>
                                            
                                 <li class="menu-dropdown classic-menu-dropdown">
                                <a data-hover="megamenu-dropdown" data-close-others="true" data-toggle="dropdown" href="javascript:;" class="dropdown-toggle">
                                    Demandes<i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu pull-left">
                                    <li class=" ">
                                        <a href="{{ path("free_anam_demande_ajouter") }}">
                                            <i class="icon-wallet"></i> Demande d'inscription </a>
                                    </li>
                                    <li class=" ">
                                        <a href="{{ path("free_anam_demande_lister") }}">
                                            <i class="icon-wallet"></i> Validation des demandes </a>
                                    </li>
                                    <li class=" ">
                                        <a href="{{ path("free_anam_demande_suivre") }}">
                                            <i class="icon-wallet"></i> Suivi des demandes </a>
                                    </li>
                                    <li class=" ">
                                        <a href="{{ path("free_anam_demande_envoyer") }}">
                                            <i class="icon-wallet"></i> Demande CNOPS </a>
                                    </li>
                                </ul>
                                            <li class="menu-dropdown classic-menu-dropdown">
                                <a data-hover="megamenu-dropdown" data-close-others="true" data-toggle="dropdown" href="javascript:;" class="dropdown-toggle">
                                    Traitemants<i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu pull-left">
                                    <li class=" ">
                                        <a href="{{ path("free_anam_etablissement_ajouter") }}">
                                            <i class="icon-wallet"></i> Importation des données </a>
                                    </li>
                                     <li class=" ">
                                        <a href="{{ path("free_anam_etablissement_ajouter") }}">
                                            <i class="icon-wallet"></i> Exportation des données </a>
                                    </li>
                                    <li class=" ">
                                        <a href="{{ path("free_anam_traitement_controle") }}">
                                            <i class="icon-wallet"></i> Double affiliation </a>
                                    </li>
                                </ul>
                                </div>
                                <!-- END MEGA MENU -->
                                </div>
                                </div>
                                <!-- END HEADER MENU -->
                                </div>
                                <div class="spacer"></div>          
                                <!-- END HEADER -->
                                <!-- BEGIN PAGE CONTAINER -->
                                <div class="page-container">
                                    <!-- BEGIN PAGE HEAD -->
                                    {% block body %} {% endblock %}

                                </div>
                                <!-- END PAGE CONTAINER -->
                                <!-- BEGIN PRE-FOOTER -->
                                <div class="page-prefooter">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-3 col-sm-6 col-xs-12 footer-block">
                                                <h2>A propos</h2>
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam dolore.
                                                </p>
                                            </div>
                                            <div class="col-md-3 col-sm-6 col-xs12 footer-block">
                                                <h2>Newsletter</h2>
                                                <div class="subscribe-form">
                                                    <form action="javascript:;">
                                                        <div class="input-group">
                                                            <input type="text" placeholder="mail@email.com" class="form-control">
                                                            <span class="input-group-btn">
                                                                <button class="btn" type="submit">Envoyer</button>
                                                            </span>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-sm-6 col-xs-12 footer-block">
                                                <h2>Suivez nous sur:</h2>
                                                <ul class="social-icons">
                                                    <li>
                                                        <a href="javascript:;" data-original-title="rss" class="rss"></a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;" data-original-title="facebook" class="facebook"></a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;" data-original-title="twitter" class="twitter"></a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;" data-original-title="googleplus" class="googleplus"></a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;" data-original-title="linkedin" class="linkedin"></a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;" data-original-title="youtube" class="youtube"></a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;" data-original-title="vimeo" class="vimeo"></a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-md-3 col-sm-6 col-xs-12 footer-block">
                                                <h2>Support</h2>
                                                <address class="margin-bottom-40">
                                                    Phone: 800 123 3456<br>
                                                    Email: <a href="mailto:info@amocme.ma">info@amocme.ma</a>
                                                </address>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- END PRE-FOOTER -->
                                <!-- BEGIN FOOTER -->
                                <div class="page-footer">
                                    <div class="container">
                                        2014 &copy; ANAM. All Rights Reserved.
                                    </div>
                                </div>
                                <div class="scroll-to-top">
                                    <i class="icon-arrow-up"></i>
                                </div>

                                <script src="{{ asset('assets/admin/pages/scripts/profile.js') }}" type="text/javascript"></script>
                                <script src="{{ asset('assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js') }}" type="text/javascript"></script>
                                {% block javascripts %}
                                    <!-- END FOOTER -->
                                    <!-- BEGIN JAVASCRIPTS (Load javascripts at bottom, this will reduce page load time) -->
                                    <!-- BEGIN CORE PLUGINS -->
                                    <!--[if lt IE 9]>
                                    <script src="../../assets/global/plugins/respond.min.js"></script>
                                    <script src="../../assets/global/plugins/excanvas.min.js"></script> 
                                    <![endif]-->

                                    <script src="{{ asset('assets/global/plugins/jquery.min.js') }}" type="text/javascript"></script>
                                    <script src="{{ asset('assets/global/plugins/jquery-migrate.min.js') }}" type="text/javascript"></script>
                                    <!-- IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
                                    <script src="{{ asset('assets/global/plugins/jquery-ui/jquery-ui.min.js') }}" type="text/javascript"></script>
                                    <script src="{{ asset('assets/global/plugins/bootstrap/js/bootstrap.min.js') }}" type="text/javascript"></script>
                                    <script src="{{ asset('assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js') }}" type="text/javascript"></script>
                                    <script src="{{ asset('assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js') }}" type="text/javascript"></script>
                                    <script src="{{ asset('assets/global/plugins/jquery.blockui.min.js') }}" type="text/javascript"></script>
                                    <script src="{{ asset('assets/global/plugins/jquery.cokie.min.js') }}" type="text/javascript"></script>
                                    <script src="{{ asset('assets/global/plugins/uniform/jquery.uniform.min.js') }}" type="text/javascript"></script>
                                    <!-- END CORE PLUGINS -->
                                    <!-- BEGIN PAGE LEVEL PLUGINS -->
                                    <script src="{{ asset('assets/global/plugins/jqvmap/jqvmap/jquery.vmap.js') }}" type="text/javascript"></script>
                                    <script src="{{ asset('assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.russia.js') }}" type="text/javascript"></script>
                                    <script src="{{ asset('assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.world.js') }}" type="text/javascript"></script>
                                    <script src="{{ asset('assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.europe.js') }}" type="text/javascript"></script>
                                    <script src="{{ asset('assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.germany.js') }}" type="text/javascript"></script>
                                    <script src="{{ asset('assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.usa.js') }}" type="text/javascript"></script>
                                    <script src="{{ asset('assets/global/plugins/jqvmap/jqvmap/data/jquery.vmap.sampledata.js') }}" type="text/javascript"></script>
                                    <!-- IMPORTANT! fullcalendar depends on jquery-ui.min.js for drag & drop support -->
                                    <script src="{{ asset('assets/global/plugins/morris/morris.min.js') }}" type="text/javascript"></script>
                                    <script src="{{ asset('assets/global/plugins/morris/raphael-min.js') }}" type="text/javascript"></script>
                                    <script src="{{ asset('assets/global/plugins/jquery.sparkline.min.js') }}" type="text/javascript"></script>
                                    <!-- END PAGE LEVEL PLUGINS -->
                                    <!-- BEGIN PAGE LEVEL SCRIPTS -->
                                    <script src="{{ asset('assets/global/scripts/metronic.js') }}" type="text/javascript"></script>
                                    <script src="{{ asset('assets/admin/layout3/scripts/layout.js') }}" type="text/javascript"></script>
                                    <script src="{{ asset('assets/admin/layout3/scripts/demo.js') }}" type="text/javascript"></script>
                                    <script src="{{ asset('assets/admin/pages/scripts/index3.js') }}" type="text/javascript"></script>
                                    <script src="{{ asset('assets/admin/pages/scripts/tasks.js') }}" type="text/javascript"></script>

                                    <!-- END PAGE LEVEL SCRIPTS -->
                                    <script>
                                        jQuery(document).ready(function () {
                                            Metronic.init(); // init metronic core componets
                                            Layout.init(); // init layout
                                            Demo.init(); // init demo(theme settings page)
                                            Index.init(); // init index page
                                            Tasks.initDashboardWidget(); // init tash dashboard widget
                                        });
                                    </script>
                                {% endblock %}

                                </body>
                                </html>
